@media (prefers-color-scheme: dark) {
  body {
    filter: invert(1) hue-rotate(180deg);
  }  
}

#coffee {
  display: flex;
  align-items: center;
  width: 30%;
}

#cup {
  margin: 0 auto;
  display: block;
}
