html {
  min-height: 100dvh;
}

body {
  min-height: 100dvh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
}

main img {
  display: block;
  width: 35vmin;
  height: auto;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: white;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    filter: invert(1) hue-rotate(180deg);
  }
}
